body{
    background: #eee;
    font-size: 14px;
    display: -webkit-flex;
    flex-direction: column;
}
.header{
    height: 40px;
    line-height: 40px;
    background: #333;
    color: white;
    font-size: 16px;
    padding-left: 10px;
    padding-right: 10px;
    display: -webkit-flex;
    justify-content: space-between;
    align-items: center;
}
.header span{
    padding-right: 20px;
}
.header h1{
    font-weight: normal;
}
.content{
    flex: 1;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 15px;
    padding-bottom: 30px;
    position: relative;
}
.dialog{
    background: white;
    border-radius: 10px;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.dialog > img{
    height: 40px;
}
.write{
    border-bottom: 1px solid #ccc;
}
.write img{
    height: 30px;
}
.login{
    margin-top: 20px;
}
.login button{
    background: limegreen;
    color: white;
    border-width: 0;
}